.top-section {
    font-size:50px;
    width:700px; 
    color: #E06C6D;
    text-shadow: 2px 2px 4px #2F406E;
}

.top-section .buttons {
    padding-top:20px;
    font-size:22px;
    
}

.top-section .buttons .primary {
    margin-right:10px;
    border-radius: 8px;
    background:#2F406E;
    border:2px solid #2F406E;
    color:#fff;
    padding:7px 20px 7px 20px;
}

.top-section .buttons .secondary {
    margin-right:10px;
    border-radius: 8px;
    border:2px solid #2F406E;
    background-color: #fff;
    padding:7px 20px 7px 20px;
    color:#2F406E;
}

.top-section .buttons .secondary:hover {
    background :#2F406E;
    color:#fff;
}

.nav-buttons {
    width:100px;
    padding:6px;
    border-radius:5px;
    background:#2F406E;
    color:#fff;
    border:none
}

.alternate-color {
    background:#E5F2F6;
}

.bottom-section {
    background:#A0B7DB;
}

.bottom-section .download {
    border-radius: 8px;
    background:#2F406E;
    border:2px solid #E5F2F6;
    color:#fff;
    padding:7px 20px 7px 20px;
    font-size:21px;
} 

@media only screen and (max-width: 1100px) {
    img.topImage{
        padding-top:70px;
    }

    .top-section {
        font-size:30px;
    }

    .top-section .buttons {
        padding: 25px 0;
        font-size:13px;
    }

    .navigation-bar li {
        padding: 5px 0px 5px 0px;
    }
  }