.navigation-bar li {
    color:#000!important;
    padding: 0 20px 0 20px;
}

ul.navigation-bar {
    justify-content:center;
    width:100%;
}

.navigation-bar li a {
    color:#000;
    text-decoration:none;
}

span.navigation-title {
    font-weight:600;
    font-size:20px;
}

.navigation-bar li a:hover {
    color: #2F406E;
}

.navbar {
    position:fixed!important;
    top:0;
    left:0;
    width:100%;
    z-index:999;
}